
@import url('../../../node_modules/css-wipe/border-box.css');
@import url('../../../node_modules/css-wipe/form.css');
@import url('../../../node_modules/css-wipe/index.css');
@import url('../../../node_modules/css-wipe/list.css');
@import url('../../../node_modules/css-wipe/reset.css');
@import url('../../../node_modules/css-wipe/webkit.css');

body {
    color: #222;
    font-family: sans-serif;
    line-height: 1.5;
}

a {
    color: #0069ff;
}

img {
    max-width: 100%;
    vertical-align: top;
}