.cta-area {
  padding: 30px;
  background-color: rgba(221, 116, 44, 0.05);
  border: 1px solid #e25c00;
  text-align: center;
}

.cta-area > *:last-child {
  margin-bottom: 0;
}

.cta-area__title {
  padding-bottom: 10px;
  margin-top: -6px;
  margin-bottom: 40px;
  border-bottom: 1px solid currentColor;
  color: #e25c00;
  font-size: 1.5rem;
  font-weight: bold;
}

.price-boxes {
  display: flex;
  justify-content: center;
}
.price-boxes__item {
  flex: 1;
  margin-right: 2.43902%;
}

.price-boxes__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .price-boxes {
    display: block;
  }

  .price-boxes__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .price-boxes__item:last-child {
    margin-bottom: 0;
  }
}

/* それぞれのボックスに対する指定 */
.price-box {
  border: 1px solid #ddd;
}
.price-box__header {
  padding: 10px;
  background-color: #e25c00;
  color: #fff;
  text-align: center;
}
.price-box__title {
  font-size: 1.125rem;
}

.price-box__price {
  font-size: 1.875rem;
}
.price-box__price-unit {
  font-size: 1rem;
}

.price-box__body {
    padding: 15px;
}
.price-box__body > *:last-child {
    margin-bottom: 0;
}
.price-box__lead {
    margin-bottom: 20px;
}
.price-box__features {
    text-align: center;
}
.price-box__features > *:last-child {
    margin-bottom: 0;
}

.price-box__features-header {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #efefef;
}

.price-box__features-text {
    margin-bottom: 20px;
}
